body {
	background-image: url(../images/round.png) !important;
	font-size: 20px;
}
.jumbotron {
	background: #828D99 !important; 
	text-align: center;
	color: white !important;
}
.panel-black {
	background: #828D99 !important; 	

}

.panel-heading {
    background-color: #B29592 !important;
    font-weight: bold !important;

}

.center {
	margin-left: 40px !important;
	margin-right: 40px !important;
}
th {
	font-weight: bold !important;
}

.textCenter {
   text-align: center !important;   
}